div h1 {
  background-color: orange;
}
header > h1 {
  color: red;
}
div > h1 {
  text-decoration: underline;
}
#primerDiv h1:hover {
  background-color: aqua;
}
div:hover > h1 {
  background-color: purple;
}
li.c1 {
  font-size: 30px;
}
header .c1 {
  border-top: 3px solid blue;
}
.c1.c2 {
  color: green;
}
.c1,
.c2 {
  border-right: 5px solid green;
}
li:nth-child(1) {
  color: blue;
}
li:nth-child(3) {
  background-color: yellow;
}
li:last-child {
  background-color: powderblue;
  border-left: 10px solid red;
}
li:nth-child(even) {
  text-decoration: line-through;
}
li:nth-child(odd) {
  color: orange;
}
li:nth-child(1):hover:after {
  content: "--";
}
li:last-child::before {
  content: "!!!";
}
ol {
  position: relative;
  top: 10px;
  left: 10px;
}
li:last-child {
  position: absolute;
  /*  */
}
div:nth-child(2) {
  height: 300px;
  overflow: auto;
}
div:nth-child(2) > img {
  display: none;
}
div:nth-child(2):hover > img {
  display: inline-block;
}
